APP_NAME=JocImpostor
APP_ENV=local
APP_KEY=base64:Oo0GBNAJVeexhhM/FBMFrAOZtd4rhFTub5JTWqQjMBM=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=sail
DB_PASSWORD=password

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=false

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=toni.vilchez@cirvianum.cat
MAIL_PASSWORD=rperjdxokldyivfw
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=toni.vilchez@cirvianum.cat
MAIL_FROM_NAME="Impostor Game"

SANCTUM_STATEFUL_DOMAINS=localhost:5173,localhost:5175,localhost:3000,localhost:5177
FRONTEND_URL=http://localhost:5173

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
