name: Deploy Laravel to Azure

on:
  push:
    branches: [ main ]
    paths:
      - "backend-project/**"

env:
  AZURE_WEBAPP_NAME: 'backend-toni'
  AZURE_WEBAPP_PACKAGE_PATH: './backend-project'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: mbstring, pdo_mysql, bcmath, intl, fileinfo, openssl, tokenizer, xml

      - name: Install dependencies
        working-directory: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
        run: |
          composer install --no-dev --optimize-autoloader --no-interaction

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}