name: Deploy React Frontend (Azure Static Web Apps)

on:
  push:
    branches: [ main ]
    paths:
      - "frontend-project/**"
      - ".github/workflows/frontend.yml"
  workflow_dispatch:

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install & Build
        working-directory: frontend-project
        run: |
          # Si tens lockfile (package-lock.json), pots usar 'npm ci'
          npm install
          npm run build

      - name: Deploy to Azure Static Web Apps
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: upload
          app_location: frontend-project
          output_location: frontend-project/dist
``